<%= form_for(single_vote) do |f| %>
  <% if single_vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(single_vote.errors.count, "error") %> prohibited this single_vote from being saved:</h2>

      <ul>
      <% single_vote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
