<p id="notice"><%= notice %></p>

<h1>Voting Forms</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @voting_forms.each do |voting_form| %>
      <tr>
        <td><%= link_to 'Show', controller: :voting_forms, action: :show, id: voting_form.id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Voting Form', new_voting_form_path %>
