<% if notice %>
  <div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= icon('thumbs-up')%>
    <%= notice %>
  </div>
<% end %>
