<div class="container">
  <div class="jumbotron">
    <h1>Valid voting</h1>
    <p>Something will appear here soonish.</p>
    <p><a class="btn btn-primary btn-lg">Plasebo button</a></p>
  </div>
</div>
