<div class="jumbotron">
  <h1 class="display-3">VALidated VOting</h1>
  <p class="lead">This is a simple placeholder, a simple misdirecting component for calling extra attention to featured content or information while I get the voting app done.</p>
  <hr class="m-y-2">
  <p>It uses utility classes for typography and spacing to space content out within the larger container. Neat o!</p>
</div>
