<div class="jumbotron">
  <h1><span class="brand-color">Val</span>id <span class="brand-color">vo</span>ting</h1>
  <p>Create a vote where everyone can validate their vote.</p>
  <p>
    <%= link_to 'Create', { controller: :votes, action: :new }, class: 'btn btn-primary btn-lg' %>
  </p>
</div>
