<div class="container">
  <div class="jumbotron">
    <h1>Valid voting</h1>
    <p>Create a vote easily. Validate your vote anonymously.</p>
    <p>
      <a class="btn btn-primary btn-lg">Establish vote</a>
      <a class="btn btn-primary btn-lg">Scan vote</a>
    </p>
  </div>
</div>
