<div class="jumbotron">
  <h1><span class="brand-color">Val</span>id <span class="brand-color">Vo</span>ting</h1>
  <p>Simple voting where voters can validate their votes</p>
  <p>
    <%= link_to 'Create', { controller: :votes, action: :new }, class: 'btn btn-primary btn-lg' %>
  </p>
</div>
