<div class="jumbotron">
  <h1>Valid voting</h1>
  <p>Create a vote where everyone can validate their vote.</p>
  <p>
    <%= link_to 'Create', { controller: :votes, action: :new }, class: 'btn btn-primary btn-lg' %>
  </p>
</div>
