<p id="notice"><%= notice %></p>

<h1>
  <% if @vote.voting_start.nil? %>
    <p>Voting has not been started</p>
    <%= link_to 'Start vote', vote_voting_starts_path, method: :post, class: 'btn btn-lg btn-primary' %>
  <% else %>
    <p>Voting is ongoing</p>
  <% end %>
</h1>
