<p id="notice"><%= notice %></p>

<% if @vote.is_ongoing? %>
  <h1>Vote here</h1>
<% elif @vote.has_ended? %>
  <h1>Vote has ended</h1>
  <%= link_to controller: 'votes', action: :show, vote_id: @vote.id %>
<% else %>
  <h1>Vote has not been started</h1>
  <p>You can't vote yet</p>
<% end %>
