<div id="candidate-labeled">
  <div class="candidate-entry input-group col-sm-6">
    <input class="form-control" name="candidate-labels[]" type="text" placeholder="Enter candidate name" />
    <span class="input-group-btn">
      <button class="btn btn-success btn-add-candidate" type="button">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
    </span>
  </div>
</div>
