<div>
  <h1>Steps</h1>
  <h2>Scan to open voting</h2>
  <%= render partial: "qr_code", locals: { url:
      url_for(controller: 'votes', action: :update, uuid: @vote.start_uuid, host: request.host_with_port)} %>
  <h2>Scan to close voting</h2>
  <%= render partial: "qr_code", locals: { url:
      url_for(controller: 'votes', action: :update, uuid: @vote.end_uuid, host: request.host_with_port)} %>
</div>
