<div>
  <h1>Voting flow control</h1>
  <p><%= url_for(controller: 'votes', action: 'show', host: request.host_with_port) %></p>
  <p>QR-code for opening vote</p>
  <p>QR-code for closing vote</p>
</div>
