<div class="voting-receipt">
  <h1>Voting receipt</h1>
  <%= render partial: "qr_code", locals: { url:
    url_for(controller: 'voting_forms', action: :show, vote_id: @vote.id, host: request.host_with_port)} %>
  <div class="circle">
    <h2 class="label">
      no.
    </h2>
  </div>
</div>
