<%= wicked_pdf_stylesheet_link_tag "pdf" %>

<div id="pdf">
  <%= render partial: "voting_flow_control", locals: { vote: @vote } %>

  <% @vote.voting_forms.each do |form| %>
    <%= render partial: "voting_form", locals: { form: form, vote: @vote }%>
  <% end %>
</div>
